@CHARSET "ISO-8859-1";

table {
 border-width:1px; 
 border-style:solid; 
 border-color:black;
 /*width:50%;*/
 border-spacing:0px;
 padding:0px;
 margin:0px;
 }
td { 
 border-width:1px;
 border-style:solid; 
 border-color:black;
 /*width:50%;*/
 padding:0px;
 margin:0px;
 }
 th{
 border-width:1px;
 border-style:solid; 
 border-color:black;
 padding:0px;
 margin:0px; background-color: gray;
 }